@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(105, 75, 45, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  
  h1 {
    color: white;
  }

  h2,
  p {
    color: white;
    word-wrap: break-word; /* Allow words to break and wrap to the next line */
  }

  textarea {
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px;
    background-color: rgba(128, 91, 53, 0.7);
    box-sizing: border-box;
    border: 2px solid rgb(105, 75, 45);
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
  }
  
  textarea::placeholder {
    color: white;
  }

  .comment-textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(128, 91, 53, 0.7);
    border: 2px solid rgb(105, 75, 45);
    padding: 10px;
    border-radius: 5px;
    resize: none; /* Disable resizing */
    word-wrap: break-word; /* Allow words to break and wrap to the next line */
  }
  
  ul.comments {
    max-height: 200px; /* Set a maximum height for the comments list */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
    padding: 10px; /* Add padding to the comments list */
    word-wrap: break-word; /* Allow words to break and wrap to the next line */
  }
  
  ul.comments li {
    word-wrap: break-word; /* Allow words to break and wrap to the next line */
    max-width: 100%; /* Set a maximum width for the individual comment boxes */
  }
  
  #title {
    width: 30%; /* Adjust the width as needed */
    margin-top: 20px;
    background-color: rgba(128, 91, 53, 0.7);
    box-sizing: border-box;
    border: 2px solid rgb(105, 75, 45);
    padding: 10px;
    border-radius: 5px;
  }
  
  #content {
    width: 50%; /* Adjust the width as needed */
    margin-top: 20px;
    background-color: rgba(128, 91, 53, 0.7);
    box-sizing: border-box;
    border: 2px solid rgb(105, 75, 45);
    padding: 10px;
    border-radius: 5px;
  }
  
  #content::placeholder {
    color: white; /* Brown placeholder text color */
  }
  

  #publish-button {
    display: inline-block;
    padding: 6px 13px; /* Adjusted padding for a slightly smaller button */
    background-color: rgba(128, 91, 53, 0.7);
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid rgb(105, 75, 45);
  }
  
  #publish-button:hover {
    background-color: rgb(88, 64, 39);
    border: 2px solid rgb(105, 75, 45);
  }

  #update-button {
    display: inline-block;
    padding: 6px 13px; /* Adjusted padding for a slightly smaller button */
    background-color: rgba(128, 91, 53, 0.7);
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid rgb(105, 75, 45);
  }
  
  #update-button:hover {
    background-color: rgb(88, 64, 39);
    border: 2px solid rgb(105, 75, 45);
  }
  
  
  
#new-post-link, .delete-button, .add-comment-button, .edit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(128, 91, 53, 0.7); /* Green background color */
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  border: 2px solid rgb(105, 75, 45); /* Brown border color */
}

#new-post-link:hover,
.delete-button:hover,
.add-comment-button:hover,
.edit-button:hover { /* Add :hover selector for the .edit-button */
  background-color: rgb(88, 64, 39);
  border: 2px solid rgb(105, 75, 45);
}

.delete-button, .add-comment-button, .edit-button {
  font-size: 0.8em;
  margin-top: 5px;
  margin-right: 5px; /* Add margin between buttons */
}


#edit-title {
  width: 30%; /* Adjust the width as needed */
  margin-top: 20px;
  background-color: rgba(128, 91, 53, 0.7);
  box-sizing: border-box;
  border: 2px solid rgb(105, 75, 45);
  padding: 10px;
  border-radius: 5px;
}

/* Add a separate style for button container to prevent hover effect on the entire post */
.button-container {
  display: flex;
  justify-content: space-between;
}

  .tausta {
    background: url(https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?cs=srgb&dl=pexels-fwstudio-172289.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  }

  .topnav {
    background-color: rgba(105, 75, 45, 0.53);
    text-align: center;
    padding: 10px;
    height: 60px; /* Set a fixed height */
  }
  
  .boksi {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid rgba(105, 75, 45, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
  }
  
  .topnav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    margin: 10px;
    line-height: 30px; /* Added line-height to center text vertically */
  }
  
  .topnav a:hover {
    border-bottom: 1.5px solid rgb(255, 255, 255); 
  }
  
  
  
  footer {
    margin-top: auto;
    padding: 15px;
    width: 100%;
    background-color: rgba(105, 75, 45, 0.53);
    color: rgb(0, 0, 0);
    text-align: center;
  }


  .rofiili {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 50.3vh;

  }

  
    .wrapper {
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: center; 
      align-items: center;
      min-height: 94.3vh;

    }

    .wrapper h1 {
      font-size: 36px;
      text-align: center;
  
    }

    .wrapper .input-box {
      position: relative;
      width: 100%;
      height: 60px;
      margin: 30px 0;
    }

    .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(105, 75, 45, 0.2);
      border-radius: 40px;
      font-size: 16px;
      color: #fff;
      padding: 20px 45px 20px 20px;
    }

    .input-box input::placeholder {
      color: #fff;
    }

    .input-box i {
      position: absolute;
      right: 20px;
      top: 30px;
      transform: translateY(-50%);
      font-size: 20px;
    }

  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }



  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
  }

  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }


      .buttoni {
      display: inline-block;
      background-color: rgba(105, 75, 45, 0.3);
      padding: 7px;
      width: 360px;
      color: #ffffff;
      text-align: center;
      border: 4px double rgb(105, 75, 45);
      transition-duration: 0.4s;
      border-radius: 40px;
      font-size: 15px;
      cursor: pointer; 
      margin: 5px; 
  }

  .buttoni:hover {
      background-color: rgba(128, 91, 53, 0.9);
      box-shadow: 0 12px 16px 0 rgba(128, 91, 53, 0.7), 0 17px 50px 0 rgba(128, 91, 53, 0.5);
    } 

    .wrapper .register-link {
      font-size: 14.5px;
      text-align: center;
      margin-top: 20px;
    }
    
    

    .register-link p a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
 
    .register-link p a:hover {
      text-decoration: underline;
    }
    
    .profile-information {
      color: #fff;
    }


/* profiilikuva juttuja */
#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

#profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#file {
  padding: 10px 20px;
  background-color: rgba(105, 75, 45, 0.73);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#change-picture-btn {
  display: inline-block;
  background-color: rgba(105, 75, 45, 0.73);
  padding: 7px;
  width: 360px;
  color: #ffffff;
  text-align: center;
  border: 4px double rgb(105, 75, 45);
  transition-duration: 0.4s;
  border-radius: 40px;
  font-size: 15px;
  cursor: pointer; 
  margin: 5px; 
}


    

/* ... (previous CSS code) ... */

.topnav {
  display: flex;
  align-items: center;
}

.profiili {
  margin-right: 10px;
}

.profile-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* ... (remaining CSS code) ... */


.error {

  background: #000000;

  color: #fffbfb;

  padding: 10px;

  width: 95%;

  border-radius: 5px;

  margin: 20px auto;

}

#logout {
  color: #fff;
}